

/* Logo */
#main-doc {
  position: absolute;
  
}



/*NAV BAR*/
body {
	background: #f2f2f2;
	font-size: 1.75em;
	font-family: 'Raleway', sans-serif;
}

nav {
	margin: 100px auto; 
	text-align: center;
  
}

nav ul {
	margin-left: 0;
	padding-left: 0;
	width: 500px;
	list-style: none;
	position: fixed;
	display: inline-table;
  left: 45%;
  top: 1%;
  bottom: auto;
  right: auto;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul li {
	float: right;
	width: 300px;
	text-align: left;
	border-bottom: 3px solid #01672b; 
  
}
	
nav ul li:hover {
	background: #f2f2f2;
}

nav ul li a {
	display: block; 
	padding: 15px 10px;
	color: #2a2a2a; 
	text-decoration: none;
}
					
nav ul ul {
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}

nav ul ul li {
	float: none;
	border-bottom: 2px solid #eaeaea; 
	position: relative;
}

nav ul ul li a {
	padding: 15px 10px;
	color: #838383;
}	

nav ul ul li a:hover {
	background: #01672b;
	color: #fff;
}	

#down-triangle {
	float: right;
	width: 0; 
 	height: 0;
 	margin-top: 10px;
 	border-top: 10px solid #2ecc71;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
}

.circle {
	float: right;
	display: inline;
	width: 10px;
 	height: 10px; 
 	margin-top: 5px;
  border: 3px solid #2ecc71;
  -moz-border-radius: 100%; 
  -webkit-border-radius: 100%; 
  border-radius: 100%;
}


/*NAV BAR TRAIL LIST END*/

/*Mapbox image css*/



/*Mapbox image css end*/









  










/*experimental mapbox function design*/











